<!-- <p>manage-rental works!</p> -->

<section id="userRentals">
    <h1 class="page-title">My Rentals</h1>
    <div class="row">
      <ng-container *ngIf="rentals.length > 0"> <!-- Check for rentals length -->
        <div *ngFor="let rental of rentals; let i = index" class="col-md-4"> <!-- Iterate Rentals -->
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title">{{rental.title}}  - {{rental.city | ucwords}}</h4> <!-- Rental Title - Rental City -->
              <a class="btn btn-bwm" routerLink="/rentals/{{rental._id}}">Go to Rental</a>
              <span *ngIf="rental.bookings.length > 0"> <!-- Check for rental bookings length -->
                <app-manage-rental-booking [bookings]="rental.bookings"></app-manage-rental-booking>
              </span>
            </div>
            <div class="card-footer text-muted">
               <p>Created at {{rental.createdAt | formatDate}}</p> <!-- Created At -->
               <button (click)="rentalDeleteIndex = i" *ngIf="rentalDeleteIndex !== i" type="button" class="btn btn-bwm btn-delete">Delete</button> <!-- Delete Rental Button -->
               <div *ngIf="rentalDeleteIndex === i">
                  <p class="confirm-message">Do you confirm rental delete? </p>
                  <button (click)="deleteRental(rental._id)" class="btn btn-success">Yes</button>
                  <button (click)="rentalDeleteIndex = undefined" class="btn btn-danger">No</button>
               </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="rentals.length === 0" class="col-md-8"> <!-- Check if rentals length === 0 -->
        <div class="alert alert-warning">
          You dont have any rentals currenty created. If you want advertised your property
          please follow this link.
          <a class="btn btn-bwm" routerLink="/rentals/new">Register Rental</a> <!-- Link to rentals/new -->
        </div>
      </div>
    </div>
</section>
  